name: friend_photo_flutter
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.2
  shared_preferences: ^0.5.2+1
  sqflite: ^1.1.5
  flutter_advanced_networkimage: ^0.4.15
  rxdart: ^0.22.0
  provider: ^2.0.1+1
  flutter_webview_plugin: ^0.3.5

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true
